<div class="container">
  <div class="sidebar">
    <div class="sidebar-header">
      <h2>Painel do Professor</h2>
    </div>
    <nav class="sidebar-nav">
      <ul>
        <li><a href="#" class="active">Cursos</a></li>
        <li><a href="#">Disciplinas</a></li>
        <li><a href="#">Notas</a></li>
      </ul>
    </nav>

    <button class="btn-logout">Sair</button>
  </div>

  <div class="container-aluno">
    <h1 class="titulo-bemvindo">Bem-vindo ao Painel do Professor!</h1>
    <p class="mensagem-bemvindo">
      <b>teste teste teste teste teste teste</b><br />
      <br />
    </p>
